[includeIf "gitdir:~/dotfiles/"]
  path = .gitconfig-personal

[includeIf "gitdir:/mnt/projects/"]
  path = .gitconfig-personal

[includeIf "gitdir:/mnt/work/"]
  path = .gitconfig-personal

[includeIf "gitdir:/mnt/work2/"]
  path = .gitconfig-work

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  side-by-side = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[safe]
	directory = *
