[credential]
  helper = store

[user]
	email = nicholashendrata110900@gmail.com
	name = Nicholas Oliver Bahary

[includeIf "gitdir:~/Work/"]
  path = .gitconfig-work

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  side-by-side = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
