#waybar.top {
  background: none;
}
#waybar.top > box.horizontal {
  background: #11111b;
  box-shadow: 0 0 4pt #11111b;
  border-radius: 12pt;
  margin: 6pt;
  padding: 2pt;
}

#custom-rofi {
  margin-left: 7pt;
  padding-right: 3pt;
  font-size: 12pt;
}

#workspaces {
  margin-left: 12pt;
}
#workspaces button {
  color: #585b70;
}
#workspaces button:not(:first-child) {
  margin-left: 2pt;
}
#workspaces button.visible {
  color: #89b4fa;
}
#workspaces button.active {
  color: #f38ba8;
}
#workspaces button:hover, #workspaces button:focus {
  background: none;
  border-color: transparent;
  box-shadow: none;
}
#workspaces button:hover:not(.active):not(.visible), #workspaces button:focus:not(.active):not(.visible) {
  color: #9399b2;
}

#mpris {
  background: #1e1e2e;
  color: #a6e3a1;
  border-radius: 12pt;
  margin-left: 15pt;
  padding: 0 8pt;
}

#window {
  margin-left: 15pt;
  margin-right: 20pt;
}

#memory {
  color: #fab387;
  margin-right: 12pt;
}

#tray {
  margin-right: 10pt;
}
#tray menu {
  background: #1e1e2e;
  padding: 2pt;
}
#tray menu * {
  margin: 2pt;
}
#tray menu check {
  margin-right: 4pt;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #cdd6f4;
  }
}
#backlight {
  color: #cba6f7;
  margin-right: 10pt;
}

#pulseaudio {
  color: #74c7ec;
  margin-right: 10pt;
}

#battery {
  color: #f9e2af;
  margin-right: 15pt;
}

#battery.full,
#battery.good,
#battery.charging,
#battery.plugged {
  color: #a6e3a1;
}

#battery.critical:not(.charging) {
  color: #f38ba8;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-color-picker {
  margin-right: 18pt;
  font-size: 9pt;
}

#custom-screenshot {
  margin-right: 18pt;
  font-size: 10pt;
}

#custom-wallpaper {
  margin-right: 16pt;
  font-size: 12pt;
}

#custom-power {
  margin-right: 11pt;
  font-size: 10pt;
}

#waybar.bottom {
  background: none;
}
#waybar.bottom box.modules-center {
  background: #181825;
  margin-top: 5pt;
  padding: 0 4pt;
  border-top-left-radius: 10pt;
  border-top-right-radius: 10pt;
  box-shadow: 0 0 3pt #181825;
}

#custom-file-manager {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/file-manager.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-terminal {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/terminal.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-zen {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/zen.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-spotify {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/spotify.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-obs-studio {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/obs-studio.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-discord {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/discord.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-telegram {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/telegram.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-whatsapp {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/whatsapp.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-adobe-photoshop {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/adobe-photoshop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-gimp {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/gimp.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-pinta {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/pinta.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-inkscape {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/inkscape.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-davinci-resolve {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/davinci-resolve.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-steam {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/steam.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-heroic {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/heroic.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-ryujinx {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/ryujinx.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-lutris {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/lutris.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-obsidian {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/obsidian.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-unity {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/unity.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-jetbrains-rider {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/jetbrains-rider.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-jetbrains-idea {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/jetbrains-idea.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-jetbrains-pycharm {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/jetbrains-pycharm.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-jetbrains-webstorm {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/jetbrains-webstorm.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-neovim {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/neovim.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-vs-code {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/vs-code.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-docker {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/docker.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-beekeeper-studio {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/beekeeper-studio.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-excalidraw {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/excalidraw.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-figma {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/figma.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-postman {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/postman.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-calculator {
  background: transparent;
  background-image: url("/home/nicholas/.config/waybar/icons/calculator.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

* {
  margin: 0;
  padding: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 8.5pt;
  font-weight: 800;
  transition-property: background;
  transition-duration: 0.5s;
}

tooltip {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 5pt;
}

/*# sourceMappingURL=style.css.map */
