@use "colours";

#waybar.top {
  background: none;

  >box.horizontal {
    background: colours.$mocha-crust;
    box-shadow: 0 0 4pt colours.$mocha-crust;
    border-radius: 12pt;
    margin: 6pt;
    padding: 2pt;
  }
}

#custom-rofi {
  margin-left: 7pt;
  padding-right: 3pt;
  font-size: 12pt;
}

#workspaces {
  margin-left: 12pt;

  button {
    color: colours.$mocha-surface2;

    &:not(:first-child) {
      margin-left: 2pt;
    }

    &.visible {
      color: colours.$mocha-blue;
    }

    &.active {
      color: colours.$mocha-red;
    }

    &:hover,
    &:focus {
      background: none;
      border-color: transparent;
      box-shadow: none;

      &:not(.active):not(.visible) {
        color: colours.$mocha-overlay2;
      }
    }
  }
}

#mpris {
  background: colours.$mocha-base;
  color: colours.$mocha-green;
  border-radius: 12pt;
  margin-left: 15pt;
  padding: 0 8pt;
}

#window {
  margin-left: 15pt;
  margin-right: 20pt;
}

#memory {
  color: colours.$mocha-peach;
  margin-right: 12pt;
}

#tray {
  margin-right: 10pt;

  menu {
    background: colours.$mocha-base;
    padding: 2pt;

    * {
      margin: 2pt;
    }

    check {
      margin-right: 4pt;
    }
  }
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: colours.$mocha-text;
  }
}

#backlight {
  color: colours.$mocha-mauve;
  margin-right: 10pt;
}

#pulseaudio {
  color: colours.$mocha-sapphire;
  margin-right: 10pt;
}

#battery {
  color: colours.$mocha-yellow;
  margin-right: 15pt;
}

#battery.full,
#battery.good,
#battery.charging,
#battery.plugged {
  color: colours.$mocha-green;
}

#battery.critical:not(.charging) {
  color: colours.$mocha-red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-color-picker {
  margin-right: 18pt;
  font-size: 9pt;
}

#custom-screenshot {
  margin-right: 18pt;
  font-size: 10pt;
}

#custom-wallpaper {
  margin-right: 16pt;
  font-size: 12pt;
}

#custom-power {
  margin-right: 11pt;
  font-size: 10pt;
}
