@use "sass:string";
@use "colours";

$iconSize: 28pt;
$iconGap: 2pt;
$iconDir: "/home/nicholas/.config/waybar/icons/";
$icons: (
  "file-manager.svg",
  "terminal.svg",
  "zen.svg",
  "spotify.svg",
  "obs-studio.svg",
  "discord.svg",
  "telegram.svg",
  "whatsapp.svg",
  "darktable.svg",
  "adobe-photoshop.svg",
  "affinity-designer.svg",
  "affinity-photo.svg",
  "affinity-publisher.svg",
  "davinci-resolve.png",
  "steam.svg",
  "heroic.svg",
  "ryujinx.svg",
  "lutris.svg",
  "obsidian.svg",
  "neovim.svg",
  "zed.svg",
  "vs-code.svg",
  "docker.svg",
  "wireshark.svg",
  "beekeeper-studio.svg",
  "excalidraw.png",
  "figma.svg",
  "postman.svg",
  "calculator.svg"
);

#waybar.bottom {
  background: none;

  box.modules-center {
    background: colours.$mocha-mantle;
    margin-top: 5pt;
    padding: 0 4pt;
    border-top-left-radius: 10pt;
    border-top-right-radius: 10pt;
    box-shadow: 0 0 3pt colours.$mocha-mantle;
  }
}

@each $icon in $icons {
  $name: string.slice($icon, 1, -5);

  #custom-#{$name} {
    background: transparent;
    background-image: url($iconDir + $icon);
    background-position: center;
    background-repeat: no-repeat;
    background-size: $iconSize;
    font-size: $iconSize;
    padding: 0 6pt;
    margin: 0 $iconGap;
  }
}
