@use "colours";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 8pt;
  font-weight: 800;
  margin: 0;
  padding: 0;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#waybar {
  background-color: colours.$mocha-crust;
  border-radius: 10pt;
}
